<script src="/js/login.js" type="text/javascript"></script>
<div id="login_html">
    <div id="login_html_form_div">
        <div class="navgroup2">
            <form id="login_html_form" onSubmit="return false;">
                <h1><i>node<span style="color:#AAA">S</span></i>n<span style="color:#A6E32D"> Login</span></h1>
                <label for="login_html_form_username">Login</label><input type="text" id="login_html_form_username" required />
                <label for="login_html_form_password">Password</label><input type="password" id="login_html_form_password" required />
                <input type="submit" id="login_html_form_login" value="Login"/>
            </form>
        </div>
    </div>
</div>
